<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Accounts')" lang="en">
        <meta charset="UTF-8" />
        <title th:text="${title}">Title</title>
    </head>
    <body>
        <div class="container">

            <div>
                <header th:replace="fragments/layout :: navbar(${currentUser})">
                    <p>menu</p>
                </header>

                <p th:if="${#lists.isEmpty(searchResults)}">No accounts match your search, try another name!</p>
                <table class="table" th:if="${!#lists.isEmpty(searchResults)}">
                    <thead class="thead-light">
                        <tr>
                            <th class="col-md-11">Accounts that match your search</th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    <tbody th:each="account : ${searchResults}">
                        <tr>
                            <td>
                                <a th:href="@{/accounts/{currentUser} (currentUser=${account.profileUrl})}" th:text="${account.name}">Name</a>
                            </td>
                            <td>
                                <form th:action="@{/accounts/{id}/followRequest(id=${account.id})}" th:method="POST">
                                    <input class="btn btn-primary mb-2" type="submit" value="Send follow request"/>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
