<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Accounts')" lang="en">
        <meta charset="UTF-8" />
        <title th:text="${title}">Title</title>
    </head>
    <body>

        <h2>Accounts</h2>

        <div th:replace="fragments/layout :: accountSearch" />

        <form method="post" action="#" th:action="@{/logout}"><input type="submit" name="logout" value="Logout"/></form>

        <h3>Follow requests</h3>
        <ol>
            <li th:if="${follower.acceptedAsFollower == false}" th:each="follower : ${followRequests}">
                <p th:text="${follower.theOneWhoFollows.name} + ' wants to follow you.'"></p>
                <form th:action="@{/accounts/{id}/handleFollowRequest(id=${follower.id})}" th:method="POST">
                    <input type="hidden" name="value" value="accept"/>
                    <input type="submit" value="Accept"/>
                </form>
                <form th:action="@{/accounts/{id}/handleFollowRequest(id=${follower.id})}" th:method="POST">
                    <input type="hidden" name="value" value="reject"/>
                    <input type="submit" value="Reject"/>
                </form>
            </li>
        </ol>
        <ol>
            <li th:each="account : ${searchResults}">
                <span th:text="${account.username}">Username</span>
                <span th:text="${account.name}">Name</span>
                <form th:action="@{/accounts/{id}/followRequest(id=${account.id})}" th:method="POST">
                    <input type="submit" value="Send follow request"/>
                </form>
            </li>
        </ol>

    </body>
</html>
