<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Photo Album')" lang="en">
        <meta charset="UTF-8" />
        <title th:text="${title}">Title</title>
    </head>
    <body>
        <div class="container">
            <header th:replace="fragments/layout :: navbar(${currentUser})">
                <p>Navbar</p>
            </header>

            <h4>Photo album of <span th:text="${currentUser.name}">name</span> (<span th:text="${count}">count</span> photos)</h4>

            <div th:if="${currentUser.username == account.username}">
                <h5>Add new photo</h5>

                <form method="POST" th:action="@{/accounts/{profileUrl}/photos (profileUrl=${account.profileUrl})}" enctype="multipart/form-data">
                    <div class="custom-file mb-2">
                        <input class="custom-file-input" type="file" name="file" id="file" />
                        <label for="file" class="custom-file-label">Choose photo</label>
                    </div>
                    <label for="description" class="form-label">Description</label>
                    <input class="form-control mb-2" type="text" name="description" id="description" />
                    <input class="btn btn-primary mb-2" type="submit" value="Add"/>
                </form>
            </div>

            <div th:each="photo : ${photos}">
                <div class="card mb-3">
                    <img class="card-img-top" th:src="@{/accounts/{profileUrl}/photos/{id} (profileUrl=${account.profileUrl}, id=${photo.id})}"/>
                    <div class="card-body">
                        <div th:if="${!#strings.isEmpty(photo.description)}" class="card-title" th:text="${photo.description}"></div>
                        <form class="card-text" th:if="${currentUser.username == account.username}" method="POST" th:action="@{/accounts/{profileUrl}/photos/profilePicture/{id} (profileUrl=${account.profileUrl}, id=${photo.id})}">
                            <input class="btn btn-primary mb-2" type="submit" value="Set as profile picture"/>
                        </form>

                        <div class="mb-2" th:text="'Likes: ' + ${#lists.size(photo.likes)}">Likes</div>
                        <form th:if="${!#lists.contains(photo.likes, currentUser)}" method="POST" th:action="@{/accounts/{profileUrl}/photos/{id}/like (profileUrl=${account.profileUrl}, id=${photo.id})}">
                            <input type="hidden" name="value" value="like"/>
                            <input class="btn btn-primary mb-2" type="submit" value="Like"/>
                        </form>
                        <form th:if="${#lists.contains(photo.likes, currentUser)}" method="POST" th:action="@{/accounts/{profileUrl}/photos/{id}/like (profileUrl=${account.profileUrl}, id=${photo.id})}">
                            <input type="hidden" name="value" value="removeLike"/>
                            <input class="btn btn-danger mb-2" type="submit" value="Remove like"/>
                        </form>
                        <form th:if="${currentUser.username == account.username}" th:method="delete" th:action="@{/accounts/{profileUrl}/photos/{id}/delete (profileUrl=${account.profileUrl}, id=${photo.id})}">
                            <input class="btn btn-danger mb-2" type="submit" value="Delete"/>
                        </form>
                        <h5>Comments</h5>
                        <div th:each="comment : ${photo.comments}">
                            <a th:href="@{/accounts/{currentUser} (currentUser=${comment.user.profileUrl})}" th:text="${comment.user.name}">Name</a>
                            <span th:text="${#temporals.format(comment.time, 'dd.MM.yyyy HH:mm')}" />
                            <p th:text="${comment.content}">Comment</p>
                        </div>
                        <form class="form-inline" method="POST" th:action="@{/accounts/{profileUrl}/photos/{id}/comment(profileUrl=${account.profileUrl}, id=${photo.id})}">
                            <input class="form-control mb-2 mr-sm-2" type="text" name="content"/>
                            <input class="btn btn-primary mb-2" type="submit" value="Add comment"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
