<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Photo Album')" lang="en">
        <meta charset="UTF-8" />
        <title th:text="${title}">Title</title>
    </head>
    <body>
        <div class="container">

            <header th:replace="fragments/layout :: navbar(${currentUser})">
                <p>Navbar</p>
            </header>
            <!--
            <h2>Photo album (<span th:text="${count}">count</span> photos)</h2>
            <div th:each="photo : ${photos}">
                <img th:src="@{/photos/{id} (id=${photo.id})}"/>
                <div th:text="${photo.description}"></div>
                <form method="POST" th:action="@{/photos/profilePicture/{id} (id=${photo.id})}">
                    <input type="submit" value="Set as profile picture"/>
                </form>
                
                <div th:text="'Likes: ' + ${#lists.size(photo.likes)}">Likes</div>
                <form method="POST" th:action="@{/photos/{id}/like (id=${photo.id})}">
                    <input type="submit" value="Like"/>
                </form>
                <form th:method="delete" th:action="@{/photos/{id}/delete (id=${photo.id})}">
                    <input type="submit" value="Delete"/>
                </form>
                <h4>Comments</h4>
                <ul>
                    <li th:each="comment : ${photo.comments}">
                        <span th:text="${comment.user.username + ': ' + comment.content}">Comment</span>
                    </li>
                </ul>
                <form class="form-inline" method="POST" th:action="@{/photos/{id}/comment(id=${photo.id})}">
                    <input class="form-control mb-2 mr-sm-2" type="text" name="content"/>
                    <input class="btn btn-primary mb-2" type="submit" value="Add comment"/>
                </form>
            
            <h3>Add new photo</h3>

            <form method="POST" th:action="@{/photos}" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="imageFile" class="form-label">Image</label>
                    <input class="form-control" type="file" name="file" id="file" />
                    <label for="imageFile" class="form-label">Description</label>
                    <input class="form-control" type="text" name="description" id="description" />
                    <input class="btn btn-primary mb-3" type="submit" value="Add"/>
                </div>
            </form>
            -->
        </div>
    </body>
</html>
