<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Profile')" lang="en">
        <meta charset="UTF-8" />
        <title th:text="${title}">Title</title>
    </head>
    <body>
        <div class="container">
            <header th:replace="fragments/layout :: navbar(${currentUser})">
                <p>Navbar</p>
            </header>

            <h2 th:text="${account.name}">Name</h2>
            <img th:if="${account.profilePicture != null}" width="20%" height="20%" th:src="@{/accounts/{profileUrl}/photos/{id} (profileUrl=${account.profileUrl}, id=${account.profilePicture.id})}"/>
            <div>
                <a th:href="@{/accounts/{profileUrl}/photos (profileUrl=${account.profileUrl})}">Check my photo album!</a>
            </div>
            <div th:if="${account.username == currentUser.username}">
                <h5>Add message</h5>
                <form class="form-inline" method="POST" th:action="@{/accounts/{profileUrl}/messages (profileUrl=${account.profileUrl})}" action="/messages">
                    <input class="form-control mb-2 mr-sm-2" type="text" name="content"/>
                    <input class="btn btn-primary mb-2" type="submit" value="Add message"/>
                </form>
            </div>

            <h5>Messages</h5>
            <div th:each="message : ${messages}">
                <div>
                    <div>
                        <img th:if="${account.profilePicture != null}" width="40px" height="40px" th:src="@{/accounts/{profileUrl}/photos/{id} (profileUrl=${account.profileUrl}, id=${message.user.profilePicture.id})}"/>
                        <span th:text="${#temporals.format(message.time, 'dd.MM.yyyy HH:mm')}" />
                        <p th:text="${message.content}"></p>
                        <span th:text="${#lists.size(message.likes)}"></span>
                        <form method="POST" th:action="@{/accounts/{profileUrl}/messages/{id}/like(profileUrl=${account.profileUrl}, id=${message.id})}">
                            <input type="hidden" name="value" value="like"/>
                            <input class="btn btn-primary mb-2" type="submit" value="Like"/>
                        </form>
                    </div>
                </div>
                <div>
                    <div th:each="comment : ${message.comments}">
                        <img th:if="${comment.user.profilePicture != null}" width="40px" height="40px" th:src="@{/accounts/{profileUrl}/photos/{id}(profileUrl=${account.profileUrl}, id=${comment.user.profilePicture.id})}"/>
                        <span th:text="${comment.user.name}" />
                        <span th:text="${#temporals.format(comment.time, 'dd.MM.yyyy HH:mm')}" />
                        <span th:text="${comment.content}">Comment</span>
                    </div>
                    <form class="form-inline" method="POST" th:action="@{/accounts/{profileUrl}/messages/{id}/comment(profileUrl=${account.profileUrl}, id=${message.id})}">
                        <input class="form-control mb-2 mr-sm-2" type="text" name="content"/>
                        <input class="btn btn-primary mb-2" type="submit" value="Add comment"/>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <h5>Followers</h5>
                    <div th:if='${follower.acceptedAsFollower == true}' th:each="follower : ${followers}">
                        <img th:if="${follower.theOneWhoFollows.profilePicture != null}" width="40px" height="40px" th:src="@{/accounts/{profileUrl}/photos/{id}(profileUrl=${follower.theOneWhoFollows.profileUrl}, id=${follower.theOneWhoFollows.profilePicture.id})}"/>
                        <a th:href="@{/accounts/{currentUser} (currentUser=${follower.theOneWhoFollows.profileUrl})}" th:text="${follower.theOneWhoFollows.name}">Name</a>
                        <small th:text="${'Follower since ' + #temporals.format(follower.time, 'dd.MM.yyyy HH:mm')}">Date</small>
                    </div>
                </div>
                <div class="col-6">
                    <h5>Following</h5>
                    <div th:if='${follower.acceptedAsFollower == true}' th:each="follower : ${following}">
                        <img th:if="${follower.theOneBeingFollowed.profilePicture != null}" width="40px" height="40px" th:src="@{/accounts/{profileUrl}/photos/{id}(profileUrl=${follower.theOneBeingFollowed.profileUrl}, id=${follower.theOneBeingFollowed.profilePicture.id})}"/>
                        <a th:href="@{/accounts/{currentUser} (currentUser=${follower.theOneBeingFollowed.profileUrl})}" th:text="${follower.theOneBeingFollowed.name}">Name</a>
                        <small th:text="${'Following since ' + #temporals.format(follower.time, 'dd.MM.yyyy HH:mm')}">Date</small>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>